@font-face {
  font-family: "Super Adorable";
  src: url("fonts/SuperAdorable.woff2") format("woff2"),
       url("fonts/SuperAdorable.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}


body {
  background: linear-gradient(135deg, #ff9a9e, #fad0c4);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Super Adorable", sans-serif;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

img {
  width: 200px;
  border-radius: 15px;
}

.buttons {
  margin-top: 20px;
}

button {
  padding: 12px 20px;
  font-size: 18px;
  border: none;
  border-radius: 12px;
  margin: 0 10px;
  cursor: pointer;
}

#yes {
  background-color: #ff4d6d;
  color: white;
}

#no {
  background-color: #ccc;
}
